@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body {
    font-family: "var(--paragraph-font)";
    max-width: 1000px;
    padding: 20px;
}
:root {
    --primary-color: #2B5C54;
    --secondary-color: #F5ECC9;
    --accent1-color: #63C6B5;
    --accent2-color: #9BD5EE;

    --heading-font: 'Protest Revolution', serif;
    --paragraph-font: Arial, Helvetica, sans-serif;

    --nav-background-color: #63C6B5;
    --nav-link-color: #2B5C54;
    --nav-hover-link-color: #2B5C54; 
    --nav-hover-background-color: #F5ECC9;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 5px auto;
    font-size: xxx-large;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header and Nav */

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
    max-width: 1000px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
nav a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
    
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.logo {
	margin: 0 1rem 0 1rem;
	width: 100px;
	height: auto;
}

/* Hero image and article */

.hero img {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
}
.hero div {
    position: relative;
}
.hero h1 {
    position: absolute;
    background: var(--secondary-color);
    padding: 0%;
	box-shadow: 0 0 100px #111;
	opacity: 0.8;
    width: 100%;
    max-width: 1000px;
}
.hero article {
    position: absolute;
    background: var(--secondary-color);
    opacity: 0.8;
    bottom: 50%;
    float: left;
    width: 300px;
    max-width: 900px;
}
.happy img {
    width: 150px;
    float: right;
    height: auto;
}

/* main body */
p {
    padding: 25px;
    color: var(--primary-color);
    font-size: larger;
    font-family: var(--paragraph-font);
}
a {
    text-decoration: none;
}

/* bottom section - flex box */
/*section {
    display: flex;
    flex-direction: row;
    flex: 200px;
}*/

.flexbox-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1000px;
}

.flexbox-item {
    min-height: 25px;
    margin: 10px;
    
}

.flexbox-item-1 {
    text-align: center;
    align-items: center;
}

.flexbox-item-2 {
    text-align: center;
}


img {
    width: 130px;
}

footer {
    max-width: 900px;
    align-items: center;
}
footer img {
    max-width: 35px;
}