@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body {
    font-family: "var(--paragraph-font)";
    max-width: 1100px;
    padding: 20px;
}
:root {
    --primary-color: #2B5C54;
    --secondary-color: #F5ECC9;
    --accent1-color: #63C6B5;
    --accent2-color: #9BD5EE;

    --heading-font: 'Protest Revolution', serif;
    --paragraph-font: Arial, Helvetica, sans-serif;

    --nav-background-color: #63C6B5;
    --nav-link-color: #2B5C54;
    --nav-hover-link-color: #2B5C54; 
    --nav-hover-background-color: #F5ECC9;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 5px auto;
    font-size: xxx-large;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
    max-width: 900px;
}
.logo {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto;
}
p {
    padding: 25px;
    color: var(--primary-color);
    font-size: larger;
    font-family: var(--paragraph-font);
}
a {
    text-decoration: none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero div {
    position: relative;
}
.hero h1 {
    position: absolute;
    background: var(--secondary-color);
    padding: 0%;
	box-shadow: 0 0 100px #111;
	opacity: 0.8;
    width: 100%;
}
.hero article {
    position: absolute;
    background: var(--secondary-color);
    opacity: 0.8;
    bottom: 45%;
    right: 5%;
    width: 300px;
}
.happy img {
    width: 150px;
    float: right;

}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}
nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    text-decoration: none;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
    
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    max-width: 900px;
    align-items: center;
    
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
    flex-flow: row wrap;
}
img {
    width: 130px;
}